.como-funciona-container, 
.opcoes-container,
.vestidos-que-amamos-container, 
.proximo-evento-container,
.feedback-container, 
.alugue-tamanho-container,
.instagram-container,
.abrir-conta-container,
.rodapes-container,
.page-footer
{
    padding: 2%;
}

.banner-container, 
.como-funciona-container,
.visita-container {
    font-family: 'Open Sans', sans-serif;
}

.banner-container h4 {
    font-weight: 300;
}

.visita-container {
    font-weight: 600;
}

.opcoes-container h5 {
    font-family: 'Lora', serif;
}

.como-funciona-container h3 {
    font-weight: 600;
    font-size: 18px;
}

.vestidos-que-amamos-container,
.proximo-evento-container,
.instagram-container,
.feedback-container,
.elementos-container,
/* .alugue-tamanho-container, */
.abrir-conta-container h3{
    font-family: 'Libre Baskerville', serif;
}

h3 {
    text-align: center;
    font-size: 0.75em;
}

nav {
    padding: 6px;
    background-color: #ffffff;
    font-size: 1em;
}

.img-logo {
    height: 40px;
    width: 130px;
    margin-top: -3px;
    display: block;
    background-size: contain;
}

.search-icon{
	width: 1px;
	height: 16px;
	margin: 7px 10px;
}

.navbar-brand {
    padding: 2px 10px;
}

.banner-container img{
    width: 1265px;
}

.index-intro {
    width: 100%;
}

.index-intro .jumbotron-fluid{
    padding: 60px 25px;
    margin: 0px;
    background-image:url('img/New-Site-029.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}

.index-intro .jumbotron-fluid h1, h4,form {
    text-align: center;
}

.index-intro .jumbotron-fluid h1 {
    font-size: 25px;
    font-weight: 600;
}

.index-intro .jumbotron-fluid h4 {
    font-size: 23px;
}

.index-intro .jumbotron-fluid button {
    background-color: #61b502;
    border: 0px solid #61b502; 
    font-size: 0.7em;
    padding: 4% 16%;
}

.visita-container {
    background-color: #f7eeeb;
    padding: 10px 75px;
    padding-left: 80px;
    margin:0px;
}

.visita-container h3, .form-inline, p {
    text-align: left;
}

.visita-container h3 {
    font-size: 18px;
    font-weight: 550; 
}

.visita-container p {
    font-size: 11px;
}

.visita-container button {
    background-color: black;
    border: 0px solid black;
    font-size: 0.7em;
    padding: 10px 30px;
}

.visita-container button:hover {
    background-color: #333333;
}

.como-funciona-container h3{
    font-size: 1.1em;
}

.como-funciona-container dl dd {
    font-size: 12px;
}

.opcoes-container div{
    padding: 0%;
} 

.opcoes-container img{
    width: 235px;
    height: 165px;
}

/* #trending {
    position: absolute;
    left: 225px;
} 

#new-in {
    position: absolute;
    left: 325px;
}

#madrinhas {
    position: absolute;
    left: 330px;
}  */

.opcoes-container .trending, .new-in, .madrinhas {
    background-color: #f5e7e4;
    font-size: 0.7em;
    padding: 25px;  
    text-transform: uppercase;
}

/* .trending {
    position: absolute;
    left: 225px;
}

.new-in {
    position: absolute;
    left: 325px;
}

.madrinhas {
    position: absolute;
    left: 330px;
} */

.vestidos-que-amamos-container h3{
    font-size: 1.1em;
}

.vestidos-que-amamos-container p {
    font-size: 0.8em;
    text-align: center;
}

.vestidos-que-amamos-container ul{
    list-style-type: none;
}

.vestidos-que-amamos-container ul>dl {
    font-size: 8px;
}

.proximo-evento-container h3{
    font-size: 1.1em;
}

.proximo-evento-container a {
    color: black;
}

.proximo-evento-container li{
    display: inline-block;
    border: 0px;
    width: 170px;
    height: 160px;
    text-align: center;
}

.casamento{
    background-color:#f5e7e4;
    padding-top: 60px;
    margin-top: 50px;
}
  
.madrinha{
    background-color:#f5c9c9;
    padding-top: 60px;
}
  
.mae-de-noiva{
    background-color:#e8cfc8;
    padding-top: 60px;
}
  
.formatura{
    background-color:#e6b8b8;
    padding-top: 60px;
}
  
.festa{
    background-color:#e8d5d7;
    padding-top: 60px;
}
  
.noivas{
    background-color:#edd1d3;
    padding-top: 60px;
}
  
.date-night{ 
    background-color:#e3d7cf;
    padding-top: 60px;
} 
  
.aniversario{
    background-color:#edd9d8;
    padding-top: 60px;
}
  
.coquetel{
    background-color:#e8cbc5;
    padding-top: 60px;
}
  
.aniversario2{
    background-color:#ede9e6;
    padding-top: 60px;
}
  
.opcoes3 dl {
    display: inline;
}
  
.alugue {
    background-color:#edd8da;
  
}

.feedback-container h3{
    font-size: 1.1em;
}

.feedback-container div {
    font-weight: 100;
    font-size: 14px;
}

.arrow-left {
    margin-right: 200px;
}

.arrow-right {
    margin-left: 200px;
}

.elementos-container dl dd a {
    color: black;
    font-size: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.alugue-por-evento {
    background-color:#edd8da;
    padding: 5%;
    text-align: center;
    
}
  
.fashion-pass {
    background-color: #fae4e3;
    padding: 5%;
    text-align: center;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

/* .alugue-tamanho-container button{ 
    background-color: white;
    border: 0.04em black solid;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.alugue-tamanho-container h3 {
    font-size: 1.1em;
}

.alugue-tamanho-container p{
    font-size: 0.8em;
    text-align: center;
}

.alugue-tamanho-container .btn-group button{
    margin: 10px;
}

.alugue-tamanho-container button:hover {
    background-color: #e6b8b8;
    border: #e6b8b8;
    color: white;
}*/

.instagram-container h3{
    font-size: 1.1em;
}

.instagram-container h3 span img {
    width: 1.5%;
    height: 1%;
}

.instagram-container img{
    width:153px;
    height: 154px;
    margin: 0px; 
    padding: 0%;
}

.instagram-container li{
    list-style-type: none;
}

.instagram-container dl {
    font-size: 8px;
    color: black;
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.abrir-conta-container {
    background-color: #f7eeeb;
    padding: 35px 75px;
    padding-left: 80px;
    margin:0px;
}

.abrir-conta-container h3 {
    font-size: 18px;
    font-weight: 550; 
}

.abrir-conta-container input{
    border:1px solid black;
    background-color: #f7eeeb;
}

.abrir-conta-container button {
    background-color: #f7eeeb;
    border: 1px solid;
}

.abrir-conta-container button:hover {
    background-color: #f0e0db;
}

.rodapes-container li {
    list-style-type: none;
}

.proximo-evento-container h5{
    font-weight: 500;
}

.rodapes-container h5, li{
    font-size: 0.65em;
}

.rodapes-container h5 {
    font-weight: bold;
}

.rodapes-container ul li ul .icon-inline img{
    display: inline;
}

.rodapes-container li a{
    color: black;
}

footer {
    padding: 1px;
    background-color: black;
    margin: 0px;
}

footer p{
    font-size: 0.7em;
    color: white;
    text-align: center;
    margin-top: 7px;
}

footer p a{
    color: white;
}
